@{
  Layout = "_Layout";
}
@using PierresVendorList.Models;

<main class="container display-results">
  <h1>Vendors</h1>
  @if (@Model.Count == 0)
  {
    <h3>No Vendors have been added yet!</h3>
  }
  else
  {
    @foreach (Vendor vendor in Model)
    {
      <h3><a href='/vendors/@vendor.vendorId'>@vendor.Name</a></h3>
      <p><a href='/vendors/@vendor.vendorId'>@vendor.Description</a></p>
      <a href='/vendors/@vendor.vendorId'>View Vendor Details</a>
    }
  }
  <div class="row">
    <hr>
    <div class="col-md-6">
      <a class="btn btn-dark" href='@Url.Action("New", "Vendors")' role="button" type="button">Add a new vendor</a>
    </div>
    <div class="col-md-6">
      <a type="button" class="btn btn-dark" role="button" href='@Url.Action("index", "home")'>Back Home</a>
    </div>
  </div>
  </div>
</main>
