@{
  Layout = "_Layout";
}
@using PierresVendorList.Models;

<main class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Vendor Details:</h1>
      <h2>@Model["vendor"].Name</h2>
      <p>@Model["vendor"].Description</p>
      <p>Vendor ID Number: @Model["vendor"].vendorId</p>
    </div>
    @foreach (Order order in @Model["orders"])
    {
      <div class="order">
        <h2>Invoice Number: @order.InvoiceNumber -- Order Date: @order.Date</h2>
        <h3>@order.Title</h3>
        <p>@order.Description</p>
        <h4>Order Total: @order.Total</h4>
      </div>
    }

    <p><a href='/vendors/@Model["vendor"].vendorId/orders/new'>Add a new item</a></p>
    @* <a href='/vendor/@Model.vendorId/order/new'>Add another order</a> *@
    <a href='/orders'>View all orders</a>
  </div>
</main>
