@using PierresVendorList.Models;

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Vendor Details:</h1>
      <h2>@Model.Name</h2>
      <p>@Model.Description</p>
      <p>Vendor ID Number: @Model.Id</p>
    </div>
    <div class="col-md-8">
      @foreach (Order order in @Model["Order"])
      {
        <div class="order">
          <h2>Invoice Number: @Model.order.InvoiceNumber -- Order Date: @Model.order.Date</h2>
          <h3>@Model.order.Title</h3>
          <p>@Model.order.Description</p>
          <h4>Order Total: @Model.order.Total</h4>
        </div>
      }
      <a href="/order/new">Add another order</a>
      <a href='/order'>View all orders</a>
    </div>
  </div>
</div>