@{
  Layout = "_Layout";
}
@using PierresVendorList.Models;
<main class="container display-results">
  <div class="row">
    <div class="col-md-4">
      <h1>Vendor Details:</h1>
      <h2>
        @Model["order"].Name</h2>
      <p>@Model["order"].Description</p>
      <p>Vendor ID Number: @Model["vendor"].vendorId</p>
    </div>
    <div class="col-md-8">
      @foreach (Order order in @Model["order"])
      {
        <div class="order">
          <h2>Invoice Number: @order.InvoiceNumber -- Order Date: @order.Date</h2>
          <h3>@order.Title</h3>
          <p>@order.Description</p>
          <h4>Order Total: @order.Total</h4>
        </div>
      }
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-6">
      <a class="btn btn-dark" href='/vendors/@Model["vendor"].vendorId/orders/new'>Add a new
        order</a>
    </div>
    <div class="col-md-6">
      <a class="btn btn-dark" href='..' role="button">Back Home</a>
    </div>
  </div>
</main>
